# public/.htaccess

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect any requests to /index.php to /
    RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/index\.php [NC]
    RewriteRule ^index\.php$ / [R=301,L]

    # If the requested URL does not correspond to a real file or directory...
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    # ...but if adding .php makes it a real file, then serve that file.
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^(.*)$ $1.php [L]
</IfModule>
